*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap {
    width: 700px;
    height: 600px;
    position: relative;
}

svg {
    display: block;
    margin: 0 auto;
    position: relative;
    transform: rotateX(180deg);
    background-color: white;
}

svg path {
    position: absolute;
    fill: skyblue;
    stroke: black;
    position: relative;
    box-shadow: 0px 0px 30px black;
    stroke-width: 1;
    pointer-events: all;
    display: block;
}


#circle {
    transition: r 2s linear;
    position: absolute;
    fill: rgb(240, 248, 255, 0.8);
    mix-blend-mode: lighten;
    pointer-events: none;
}

svg path.green {
    fill: green;
    fill-opacity: 1;
}

svg path:hover {
    fill: gold;
    fill-opacity: 1;
}


#title{
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 15px;
    bottom: 0%;
    left: 0%;
    pointer-events: none;
    position: absolute;
}

.subTitle {
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 15px;
    bottom: 0%;
    left: 0%;
    pointer-events: none;
    position: absolute;
}


#sideBar {
    position: fixed;
    left: 0px;
    top: 0%;
    width: 400px;
    height: 100vh;
    border-right: 1px solid gray;
    z-index: 100;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.35s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}
    
#sideBar p {
    font-size: 11px;

}

.btn {
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
}

.actives {
    background-color: green;
    color: white;
}

svg path.golds {
    fill: gold;
    fill-opacity: 1;
}

#sideBtn {
    position: absolute;
    right: 0%;
    top: 50%;
    padding: 5px 10px;
    border: 1px solid gray;
    transform: translate(100%,-50%);
    background-color: white;
}

#sideBar div {
    display: flex;
    justify-content: space-between;
}

#sideBar div input {
    width: 80%;
}

#sideBar div#dataWrap {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
}

#dataWrap div {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5px;
    border: 1px solid gray;
}

#dataWrap div * {
    font-size: 13px;
    font-weight: 100;
}

#redPointer {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}